*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
    text-align: center;
}
.card{
    width: 18rem;
    padding: 20px;
    background-color: cadetblue;
    border: 1px solid black;
    margin: 10px;
    color: white;
}
.card img {
    height: 150px;
    border-radius: 30px;
   mix-blend-mode: multiply;
}
.button{
    padding: 10px;
    background-color: rgba(28, 28, 213, 0.541);
    display: block;
    width: 100%;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
}
.table{
    font-size: 15px;
    font-weight: bold;
    }
.button:hover{
    background-color: black;
}
.cart_div{
    border: 2px solid black;
    border-radius: 20px;
}
.cart_div:hover{
    background-color: cadetblue;
}
.table_image{
    height: 100px;
    width: 100px;
   }
.scroll{
    height: 300px;
    overflow: scroll;
}
.title_row{
  width: 20px;
}