body {
    margin: 0;
    padding: 0;
}

.row{
   text-align: center;
}
.card {
    border: 2px solid rgb(255, 47, 172);
    padding: 20px;
    width: 35%;
    border-radius: 20px;
    background-color: cyan;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    transition: all 0.3s ease 0s;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  }

.text1 {
    font-size: 13;
    color: #cbcbcb;
}

.info {
    line-height: 13px;
}

.cost span {
    color: #286783;
    font-weight: bold;
    font-size: 16px;
}

.button-color {
    background: #09a1e2;
    border-radius: 25px;
    font-weight: 500;
    font-size: 13px;
}
.button-color:hover{
    background-color: black;
}

ul {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

ul li {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
}